<footer>
    <div class="wrapper">
        <div class="left">
            Joer no sé qué poner acá xd
        </div>
        <div class="middle">
            <div class="text">You can follow us on:</div>
            <div class="icons">
                <nav>
                    <a href="#">Facebook</a>
                    <a href="#">Instagram</a>
                    <a href="#">Youtube</a>
                </nav>
            </div>
            <div class="copyright">@copyright ManoZero</div>
        </div>
        <div class="right">
            joer no sé qué poner acá x2
        </div>
    </div>
</footer>