<app-header></app-header>
<div class="wrapper">
    
    <div class="container">
        <div class="container2">
            <div class="info">Login</div>

            <form [formGroup]="loginForm">
                <div>
                    <mat-form-field class="input-length">
                        <mat-label>Usuario</mat-label>
                        <input tabindex="1" matInput placeholder="" required formControlName="controlEmail" id="username" type="email">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="input-length">
                        <mat-label>Contraseña</mat-label>
                        <a class="label-forgot" href="/forgot-password"></a>
                        <input matInput  required placeholder="" formControlName="controlPassword" id="password" type="password">
                    </mat-form-field>
                </div>
            </form>

            <div class="check">
                <mat-checkbox formControlName="remember" id="remember" type="remember" class="example-full-width">Recordar Usuario</mat-checkbox>
            </div>
            <button mat-flat-button (click)="identify()">Ingresar</button>
            <div class="info">Dont have user? Register <a href="/login">here</a></div>
        </div>
    </div>
</div>