<div class="wrapper">
    <div class="container">
        <div class="display">
            <div class="name">
                {{ product.name }}
            </div>
            <img [src]="product.image" alt="">
            <div class="description">description
                {{ product.text }}
            </div>
            <div class="price">Price:
                {{ product.price | exponential | currency}}
            </div>
        </div>
        <button mat-flat-button (click)="addToCart()">Add to Cart</button>
    </div>
</div>